{{> privateNavBar }}
<main class="container">
  <section class="jumbotron text-center">
    <h1 class="display-4 text-uppercase">Codify</h1>
    <p class="lead">You have {{playlists.length}} playlist(s)</p>
    <hr class="my-4" />
    <p>Add unlimited number of playlists!!</p>
    <a class="btn btn-primary" href="/create-playlist" role="button">Create
      Playlist</a>
  </section>

  <section>
    <h2 class="text-center">Playlists</h2>
    <hr />

    <div class="d-flex justify-content-around flex-wrap">
      {{#each playlists as |playlist|}}
        {{> playlistCard}}
      {{/each}}
    </div>
  </section>
</main>