.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.date-info,
.error-text {
  font-size: 12px;
}

.playlist-card {
  width: 18rem;
  margin: 10px;
}

.playlist-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.song-card {
  max-width: 540px;
  margin: 10px;
}

.share-link {
  text-decoration: none;
  color: inherit;
}

.share-link:hover {
  text-decoration: underline;
  color: inherit;
}
